*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
@mixin arrow($size:5px,$col:#000) {
    width:0;
    height:0;
    border:$size solid transparent;
    border-top-color: $col;
}
@mixin a($w,$h,$c:green) {
    width: $w;
    height:$h;
    border:1px solid $c;
}
@function add($a,$b){
    @return $a + $b;

}