@charset "utf-8";
@import 'common';
$color:red;
$width:100px;
body{
    background: $color;
    width: $width;
    color:$color;
    #app{
        color:pink;
        h2{
            width:200px;
            @include a(300px,200px);

        }
        p{
            height: 300px;
            padding:{
                top:20px;
                bottom:20px;
            }
            &:hover{
                color: blue;
                background: pink
            }
        }
        h5{
            //继承属性
            /*注释*/
            @extend h2;
        }
        div{
            @include arrow(10px,green);
            width:add(500px,300px);
            height: (300px/3);
            height: 300px-200px;
        }
        $i:10;
        @if($i<0){
            .aa{
                width: 200px;
                background: black;
            }
        }
        @for $j from 1 to 5{
            .item-#{$j}{
                width: 20px*$j;
            }
        }

        $m:5;
        @while($m<10){
            .xx-#{$m}{
                width:$m*50px;
            }
            $m:$m+1;
        }

        $list:success error warn;
        @each $n in $list{
            .#{$n}{
                background:url(#{$n}.jpg);
            }
        }
    }
}