
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    font-size:16px;
}
#header{
    width: 100%;
    height: 1.01rem;
    background: #06c1ae;
    display: flex;
}
.header-add{
    width: 1.67rem;
    height: 1.01rem;
    line-height: 1.01rem;
    text-align: center;
    font-size: 0.32rem;
    color: #fff;
}
.header-mine{
    width: 0.98rem;
    height:1.01rem;
    line-height: 1.01rem;
    text-align: center;
    font-size: 0.32rem;
    color: #fff;
}
.search-div{
    flex:1;  
    width: 4.854rem;
    height: 0.64rem;
    position: relative;
}
.header-search{
    
    width: 4.854rem;
    height: 0.64rem;
    margin-top:0.2rem;
    background: rgba(0,0,0,.15);
    border-radius: 5px;
    outline: none;
    border:none;
}
.search-word{
    font-size: 0.26rem;
    color: #68dbce;
    margin-top: 0.35rem;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 0.6rem;
}
.banner-download{
    width: 100%;
    height: 2.2rem;
    background:pink;
    position: relative;
}
.banner-download img{
    width: 100%;
    height: 2.2rem;
}
.banner-download::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.01rem;
    background-color: rgb(198, 192, 179);
}
.ul-box{
    width: 7.5rem;
    height: 3.3rem;
    background: pink;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.ul-box li{
    width: 1.5rem;
    height: 1.62rem;
    background: red;
    


    
    
}
