<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #app {
            width: 400px;
            margin: 0 auto;
        }

        ul {
            list-style: none;
        }

        li {
            height: 50px;
            line-height: 50px;
            background: #ccc;
            margin-bottom: 10px;
            padding: 0 10px;
        }

        .right {
            float: right;
        }

        .pink {
            background: pink;
        }
    </style>
</head>

<body>
    <div id="app">
        <h2>todolist</h2>
        <hr>
        <div>
            <label for="proName">名称</label>
            <input type="text" id="proName" placeholder="请输入商品名称" v-model="name">
            <label for="proPrice">价格</label>
            <input type="text" id="proPrice" placeholder="请输入商品价格" v-model="price">
            <button @click="add()">添加</button>
        </div>
        <div>
            <input type="text" placeholder="请输入搜索内容">
            <button>搜索</button>
        </div>
        <ul>
            <li v-for=" product in prolist" @click="change(product)" :class="{pink:product.ischecked}">
                <input type="checkbox" v-model="product.ischecked">
                <span>{{product.proname}}</span>
                <div class="right">
                    <span class="price">{{product.price}}</span>
                    <span class="close">[X]</span>
                </div>
            </li>
        </ul>
        <div>
            <button>删除选中</button>
            <span>总价 {{total()}}</span>
        </div>

    </div>
    <script src="vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                prolist: [
                    {
                        proname: "苹果",
                        price: 100,
                        ischecked: false

                    },
                    {
                        proname: "香蕉",
                        price: 1000,
                        ischecked: false
                    },
                ],
                name: '',
                price: ''


            },
            methods: {
                add() {
                    if (this.name && this.price) {
                        this.prolist.push({ proname: this.name, price: this.price, ischecked: false });
                        this.name = "";
                        this.price = "";
                    }
                },
                change(product){
                    product.ischecked = !product.ischecked;


                },
                total(){
                    let sum = 0;
                    this.prolist.forEach(function(obj){
                        if(obj.ischecked){
                            sum+=obj.price;
                        }
                    })
                    return sum;
                }
            },


        })


    </script>

</body>

</html>